@import "tailwindcss";
@theme {
  /*color variabels*/
  --color-main: #fff431;
  --color-secondary: #000000;
  --color-main-text-color: #ffffff;
  --color-secondary-bg-color: #191b1d;
  --color-error: #ff0000;
  --color-info: #00c8ff;
  --color-success: #00ff11;
  /*chaingingText lg and biger */
  --animate-chaingingText: chaingingText 4s ease-in-out forwards alternate
    infinite;
  @keyframes chaingingText {
    0% {
      top: 0;
    }
    25% {
      top: -41px;
    }
    50% {
      top: -90px;
    }
    100% {
      top: -135px;
    }
  }
  /*chaingingText md to lg */
  --animate-chaingingTextMd: chaingingTextMd 4s ease-in-out forwards alternate
    infinite;
  @keyframes chaingingTextMd {
    0% {
      top: 0;
    }
    25% {
      top: -30px;
    }
    50% {
      top: -67px;
    }
    100% {
      top: -103px;
    }
  }
}
* {
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-secondary);
  color: var(--color-main-text-color);
  text-transform: capitalize;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
