@import "tailwindcss";
@theme {
  /*color variabels*/
  --color-main: #fff431;
  --color-secondary: #000000;
  --color-main-text-color: #ffffff;
  --color-secondary-bg-color: #191b1d;
  --color-error: #ff0000;
  --color-info: #00c8ff;
  --color-success: #00ff11;
}
body {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
